<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Update Post</title>
</head>
<body>


<div class="row pt-3">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Редактировать пост
        </div>
        <div class="card-body">
            <form th:action="@{/posts/updateAction}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="carName">Название машины</label>
                    <input type="text" class="form-control" name="carName" id="carName" th:value = "${viewDto.carName}">
                    <label for="postDescription">Описание поста</label>
                    <input type="text" class="form-control" name="postDescription" id="postDescription" th:value="${viewDto.postDescription}">
                    <label for="postPrice">Цена</label>
                    <input type="text" class="form-control" name="postPrice" id="postPrice" th:value="${viewDto.postPrice}">
                </div>
                <div class="form-group">
                    <label for="file">Фотография</label>
                    <input type="file" class="form-control" name="file" id="file" required>
                </div>
                <hr>
                <div class="form-group">
                    <label for="carEngine">Двигатель</label>
                    <select class="form-control" id="carEngine" name="carEngine" >
                        <option th:each="engine : ${engines}" th:value="${engine}" th:text="${engine}">
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="carTransmission">Коробка</label>
                    <select class="form-control" id="carTransmission" name="carTransmission" >
                        <option th:each="transmission : ${transmissions}" th:value="${transmission}" th:text="${transmission}" >
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="carBody">Кузов</label>
                    <select class="form-control" id="carBody" name="carBody" >
                        <option th:each="body : ${bodies}" th:value="${body}" th:text="${body}" >
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="postStatus">Статус объявления</label>
                    <select class="form-control" id="postStatus" name="postStatus" >
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}" >
                    </select>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>