<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Update Post</title>
</head>
<body>


<div class="row pt-3">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Редактировать пост
        </div>

        <div class="card-body">
            <form th:action="@{/update}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name-car">Название машины</label>
                    <input type="text" class="form-control" name="name-car" id="name-car" th:value = "${dto.carName}">
                    <label for="name-post">Описание поста</label>
                    <input type="text" class="form-control" name="name-post" id="name-post" th:value="${dto.postDescription}">
                    <label for="price">Цена</label>
                    <input type="text" class="form-control" name="price" id="price" th:value="${dto.postPrice}">
                    <div class="form-group">
                        <label for="file">Фотография</label>
                        <input type="file" class="form-control" name="file" id="file" required>
                    </div>
                    <hr>
                    <select class="form-control" id="name-engine" name="name-engine" >
                        <option th:each="engine : ${engines}" th:value="${engine.name}" th:text="${engine.name}" >
                    </select>
                    <hr>
                    <select class="form-control" id="status-post" name="status-post">
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}" >
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>